/*body {
  text-align: center;
  margin: 0 auto;
}*/

h1 {
  margin: 2% auto;
  text-align: center;
}
/*
.container {
  margin: 2% auto;
}

button, .numbutt, .btn-primary {
  background-color: rgb(46,224,160);
  color: white;
}

button:hover, .numbutt:hover, .btn-primary:hover {
  background-color: rgb(183,191,188);
}*/



body, div, button {
    padding:0;
    margin:0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#calculator {
    width: 330px;
    height: 460px;
    margin: 10px auto;
    padding: 5px;
    background-color: rgb(232,129,129);
    border: 3px solid black;
    border-radius: 10px;
}

#total {
    height: 70px;
    width: 315px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 5px;
    background-color: white;
    text-align: right;
    font-size: 60px;
}

#numbers, #operators {
    margin: 0;
}

#operators button {
    display: block;
    width: 50px;
    height: 55px;
    float: left;
    padding: 2px;
    margin: 5px 6px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 42px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
    background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    border-radius: 10px;
}

#numbers button {
    display: block;
    width: 60px;
    height: 65px;
    float: left;
    font-size: 43px;
    padding: 10px;
    margin: 5px 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
    background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    border-radius: 10px;
}

button:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#DCDCDC), to(#EDEDED));
    background: -moz-linear-gradient(top,  #DCDCDC,  #EDEDED);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCDCDC', endColorstr='#EDEDED');
}
